
#logo{
  width: 110px ;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}

body{
  background-color: black;
}

h2, h1, h5, h6, h3{
  color: white;
  text-align: center;
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 40px;
  text-decoration: underline;
 
}


.indie-flower-regular {
  font-family: "Indie Flower", cursive;
  font-weight: 400;
  font-style: normal;
}

#form{
  text-align: center;
}


h4, #list{
  color: white;
  font-size: 35px;
  cursor: pointer;
  

}

#howto{
  margin-top: 300px;
}

#howtoP{
  font-size: 20px;
  color: white;
  text-align: center;
}


#taskBtn{
  background-color: black;
  color: white;
  border: 1px;
  cursor: pointer;
}

#taskBtn:hover{
  font-size: 15px;
}


h4, #list:hover{
  font-size: 37px;
  text-decoration: line-through;
}

#editBtn{
  margin-left: 50px;
  cursor: pointer;
}